* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button {
    text-decoration: none;
    background-color: cadetblue;
    color: white;
    text-align: center;
    justify-content: center;
    display: flex;
    width: 150px;
    padding: 10px 24px;
    border-radius: 8px;
}
.button:hover {
    background-color: rgb(172, 218, 219);
    color: white;
  }
#slide {
    position: relative;
    overflow: hidden;
    height: 100px;
    width: 150px;
    margin: 1em 0;
}
#slide #off {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    z-index: 1;
    padding: 10px 24px;
    border-radius: 8px;
}
p {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: green;
    color: white;
    text-align: center;
    z-index: 0;
    padding: 10px 24px;
    border-radius: 8px;
}
  